@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-image: url(../img/background/background_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    color: white;
    margin-left: 9em;
    margin-top: 2em;
    text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F,
        0 0 0.2em #87F
}

.logo-astroday {
    width: 20%;
}

.box-escolha {
    background-color: rgba(90, 141, 185, 0.7); 
    border-radius: 8px;
    width: 26%;
    margin: 3em 0 0 26em;
    padding: 1.1em 1em;
}

.escolha-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3em;
}

label, .observacaoData {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

input {
    background-color:  rgba(33, 76, 126, 0.8); 
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    color: white;
    border-radius: 8px;
    padding: .4em 0.8em;
    width: 13em;
}

label {
    margin: 0 0 .6em 2em;
    font-size: 1.2em;
    font-weight: 600;
}

.observacaoData {
    margin-left: 2em;
    margin-top: .2em;
    font-size: .8em
}

.enviar {
    font-size: 1.5em;
    background-color: rgba(13, 19, 70, 0.8); 
    border-radius: 3em;
    border: none;
    padding: 0.3em;
    margin-left: 11em;
    
}

.resultado {
	display: inline;
}

.explicacao {
    background-color: white;
    border: 3px black solid;
    border-radius: 0.8em;
    padding: 1em;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    width: 30em;
}


.titulo-resultado {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F,
    0 0 0.2em #87F;
    color:white;
    font-size: 700;
    margin-top: 2em;
    margin-left: 2em;
}
.astronauta-explicacao {
    width: 30%;
  
}

#explicacaoAstro {
    display: none;
    float: right;
    margin-right: 3em;
}


.imagem-cosmos {
    margin-left: 3em;
    width: 600px;
    float: left;
}

.titulo-resultado{
    margin-top: 2em;
    margin-left: 4em;

}